# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Test
coverage/
.nyc_output/

# Docker
docker-compose.override.yml

tsconfig.build.tsbuildinfo
tsconfig.tsbuildinfo